{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<div name = "container my-3">
    <table class = 'table'>
        <thead>
        <tr class = 'table-dark'>
            <th>ID</th>
            <th>Name</th>
            <th>wholesale_price</th>
            <th>instore_price</th>
            <th>manufacturer</th>
        </tr>
        </thead>
        <tbody>
            <td> {{product.p_id}}</td>
            <td> {{product.p_name}}</td>
            <td> {{product.wholesale_price}}</td>
            <td> {{product.instore_price}} </td>
            <td> {{product.manufacturer_id}}</td>
        </tbody>
    </table>
</div>
<a href = "{%url 'index' %}">Back to List</a>