
<form action = "{%url 'create' %}" method = "post">
{%csrf_token %}
Product name:    <textarea name = "p_name" id = "p_name" rows = "2"></textarea><br>
Category:        <textarea name = "category" id = "category" rows = "2" ></textarea><br>
wholesale_price: <textarea name = "wholesale_price" id = "wholesale_price" rows = "2"></textarea><br>
Instore_price:   <textarea name = "instore_price" id = "instore_price" rows = "2"></textarea><br>
man_id:          <textarea name = "manufacturer" id = "man_id" rows = "2"></textarea><br>
<input type = "submit" value = "SUBMIT">
<a href = "{%url 'index' %}">back to list</a>
</form>