{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

<div class = "container my-3">
    <table class = "table">
        <thead>
        <tr class = "table-dark">
            <th></th>
            <th> Product ID </th>
            <th> Quantity </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    {% if cart_list %}
    {%for product in cart_list%}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{ product.p_id }}</td>
        <td> {{product.quantity}}</td>

    </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>NO product</td>
        </tr>
        {% endif %}

        </tbody>

    </table>
    <a href = "/user">go back</a>
</div>