{% load static %}
{% load mathfilters %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

<div class = "container my-3">
    <table class = "table">
        <thead>
        <tr class = "table-dark">
            <th></th>
            <th> Product </th>
            <th> unit price </th>
            <th> qunatity </th>
            <th> total </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    {% if cart_list %}
    {%for product in cart_list%}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{ product.p__p_name }}</td>
        <td> {{product.p__instore_price}} USD</td>
        <td> {{product.quantity}}</td>
        <td>{{product.p__instore_price|mul:product.quantity}}   USD</td>

    </tr>
        
    {% endfor %}

    {% endif %}

    </tbody>

    </table>
    total: {{total.tot__sum}} USD
    
</div>

